.welcome {
    font-family: 'Source Serif Pro', serif;
}

.intro-description,
.rooms-headline {
    font-family: 'Scheherazade New', serif;
}

.rooms-headline {
    text-shadow: 1px 1px 1px black;
}

.see-all-btn {
    font-family: 'Noto Serif', serif;
}

.dining-des {
    font-family: 'Scheherazade New', serif;
}

.restau-txt {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}